<app-header title="Recharge"></app-header>
<div *ngIf="!startPayment && paymentForm.controls['transaction_id'].invalid" class="container my-4">
    <div class="row">
        <div class="col-md-12">
            <div class="text-2xl">Balance : <span class="text-blue-900 text-3xl">Rs. {{user?.wallet_amount}}</span>
            </div>
            <form [formGroup]="rechargeForm" (ngSubmit)="onSubmit()">
                <div class="grid grid-cols-2 gap-2">
                    <mat-form-field appearance="outline" class="w-full mt-2">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-full mt-2">
                        <mat-label>Mobile Number</mat-label>
                        <input type="text" matInput formControlName="mobile_no">
                    </mat-form-field>
                </div>
                <mat-form-field appearance="outline" class="w-full mt-2">
                    <mat-label>Recharge amount</mat-label>
                    <input matInput formControlName="amount">
                </mat-form-field>
                <div class="grid grid-cols-4 gap-2">
                    <button *ngFor="let item of amountList" type="button" color="primary" class="mx-1"
                        (click)="rechargeAmount(item)" mat-stroked-button
                        [class.mat-raised-button]="rechargeForm.value.amount === item">{{item}}</button>
                </div>
                <button type="submit" [disabled]="rechargeForm.invalid" mat-raised-button color="primary" class="w-50 my-4">RECHARGE</button>

            </form>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover table-borderless border-1" style="width: max-content; min-width: 100%;">
                    <thead class="border-1">
                        <tr>
                            <th>Transaction Id</th>
                            <th>Amount</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataSource">
                            <td> {{item.transaction_id}} </td>
                            <td> {{item.amount}} </td>
                            <td> {{item.status}} </td>
                            <td> {{item.type}} </td>
                            <td> {{item.date}} </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <mat-paginator [pageSizeOptions]="[6, 20, 50]">
            </mat-paginator>
        </div>
    </div>
</div>
<div *ngIf="startPayment || paymentForm.controls['transaction_id'].valid" class="container my-4">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="paymentForm" (ngSubmit)="paymentSubmit()">
                <div class="text-xl">UPI Id: {{user?.limit?.upi}}</div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-2 items-center">
                    <mat-form-field appearance="outline" class="w-full mt-2">
                        <mat-label>Reference Number</mat-label>
                        <input type="text" matInput formControlName="reference_id">
                    </mat-form-field>
                    <input type="file" class="form-control" (change)="onImageSelect($event)">
                </div>
                <button type="button" (click)="resetPayment()" mat-raised-button color="warn" class="w-25 my-4 me-2">CANCEL</button>
                <button type="submit" [disabled]="paymentForm.invalid" mat-raised-button color="primary" class="w-50 my-4">SUBMIT</button>
            </form>
        </div>
    </div>
</div>