<app-header title="Promotion"></app-header>
<div class="container mx-auto">
    <div class="text-xl text-center my-3">Bonus : <span class="text-3xl">Rs. {{data?.totalAmountYouGet || 0}}</span>
    </div>
    <div class="w-full md:w-2/3 mx-auto">
        <div class="grid grid-cols-2 gap-2">
            <div class="bg-gray-200 p-3 rounded shadow-md text-center">
                <div class="text-xl">Total People</div>
                <div>{{data?.userCount || 0}}</div>
            </div>
            <div class="bg-gray-200 p-3 rounded shadow-md text-center">
                <div class="text-xl">Contribution</div>
                <div>Rs. {{data?.totalAmountAddedByReferal || 0}}</div>
            </div>
        </div>
        <mat-form-field appearance="outline" class="w-full mt-3">
            <mat-label>My Promotion Code</mat-label>
            <input matInput readonly [value]="user?.referal_code">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>My Promotion LInk</mat-label>
            <input matInput readonly [value]="promotionLink">
        </mat-form-field>
        <button mat-raised-button [cdkCopyToClipboard]="promotionLink" color="primary" class="w-50 mx-auto">Copy
            Link</button>
    </div>
    <div class="table-responsive">
        <mat-tab-group class="mt-4">
            <mat-tab label="Level 1">
                <table class="table table-hover table-borderless border-1" style="width: max-content; min-width: 100%;">
                    <thead class="border-1">
                        <tr>
                            <th>User Id</th>
                            <th>Phone Number</th>
                            <th>Water Reward</th>
                            <th style="text-align: right;">First Reward</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataSource1">
                            <td> {{item?.userId}} </td>
                            <td> {{item?.phoneNo}} </td>
                            <td> {{item?.amountAdded}} </td>
                            <td> {{item?.reward}} </td>
                        </tr>
                    </tbody>
                </table>
            </mat-tab>
            <mat-tab label="Level 2">
                <table class="table table-hover table-borderless border-1" style="width: max-content; min-width: 100%;">
                    <thead class="border-1">
                        <tr>
                            <th>User Id</th>
                            <th>Phone Number</th>
                            <th>Water Reward</th>
                            <th style="text-align: right;">First Reward</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataSource2">
                            <td> {{item?.userId}} </td>
                            <td> {{item?.phoneNo}} </td>
                            <td> {{item?.amountAdded}} </td>
                            <td> {{item?.reward}} </td>
                        </tr>
                    </tbody>
                </table>
            </mat-tab>
            <mat-tab label="Level 3">
                <table class="table table-hover table-borderless border-1" style="width: max-content; min-width: 100%;">
                    <thead class="border-1">
                        <tr>
                            <th>User Id</th>
                            <th>Phone Number</th>
                            <th>Water Reward</th>
                            <th style="text-align: right;">First Reward</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataSource3">
                            <td> {{item?.userId}} </td>
                            <td> {{item?.phoneNo}} </td>
                            <td> {{item?.amountAdded}} </td>
                            <td> {{item?.reward}} </td>
                        </tr>
                    </tbody>
                </table>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>