<form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="w-full lg:w-2/5 mx-auto m-5">

    <mat-form-field class="full-width" appearance="outline">
        <mat-label> Type your registered number for OTP</mat-label>
        <button type="button" matSuffix mat-button color="primary" class="suffix-button" (click)="sendOTP()" [disabled]="validation['mobile_no'].invalid || isOTPSentLoading || isOTPSent">
            <mat-icon>phone_android</mat-icon>
            Send OTP
        </button>
        <input matInput autofocus formControlName="mobile_no">
    </mat-form-field>
    <mat-form-field *ngIf="isOTPSent" class="full-width" appearance="outline">
        <mat-label>OTP</mat-label>
        <input matInput type="text" formControlName="otp">
    </mat-form-field>
    <mat-form-field *ngIf="isOTPSent" class="full-width" appearance="outline">
        <mat-label>New Password</mat-label>
        <mat-icon matSuffix>vpn_key</mat-icon>
        <input matInput type="password" formControlName="newPassword">
    </mat-form-field>
    <mat-form-field *ngIf="isOTPSent" class="full-width" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <mat-icon matSuffix>vpn_key</mat-icon>
        <input matInput type="password" formControlName="confirmPassword">
    </mat-form-field>
    <div></div>
    <button type="submit" class="w-25 me-2" color="primary" [disabled]="forgotForm.invalid || isLoading" mat-raised-button>
        <div *ngIf="isLoading">Loading ...</div>
        <div *ngIf="!isLoading">SUBMIT</div>
    </button>


</form>