<div class="text-2xl">Notice</div>
<div class="h-64 md:h-full" style="overflow: auto">
    When your friends trade, you will also receive a 30% commission. Therefore, the more friends 
    you invite, the higher your commission. There is a fixed income every day, the commission is 
    permanent, but the reward is only onceWhen they make money, they will invite their friends 
    to join them, and then you can get a 20% commission. In this way, your team can spread quickly. 
    Therefore, I hope everyone can use our platform to make money, make money, and make money!When 
    they make money, they will invite their friends to join them, and then you can get a 20% 
    commission. In this way, your team can spread quickly. Therefore, I hope everyone can use our 
    platform to make money, make money, and make money!Level 1 commission: Friends who join through 
    your own link belong to your level, when they trade, you will get 30% commission.Tier 2 commission: 
    Friends who join through your friend link belong to your secondary commission. 
    When they trade, you can get 20% commission.Level 3 commission: Friends who join through 
    friends of friends belong to your level 3. When they trade, you get 10% commission.Promotional 
    rewards: 10% bonus amount for the first recharge after the first-level lower level joins. 
    If your friend joins through your invitation and recharges 1000 for the first time, you will 
    get 200
</div>
<button mat-button color="warn" class="float-end mt-2" [mat-dialog-close]="true">Close</button>