<app-admin-header title="Authentication"></app-admin-header>
<div class="container mx-auto">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-full lg:w-2/5 mx-auto m-5">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email Address</mat-label>
            <mat-icon matSuffix>mail</mat-icon>
            <input matInput autofocus formControlName="email">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <mat-icon matSuffix>vpn_key</mat-icon>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
        <p class="text-secondary cursor-pointer">Forget password ?</p>
        <button type="submit" class="w-25 me-2" color="primary" [disabled]="loginForm.invalid || isLoading" mat-raised-button>
            <div *ngIf="isLoading">Loading ...</div>
            <div *ngIf="!isLoading">SUBMIT</div>
        </button>
    
    </form>

</div>