<app-admin-header title="Feedback"></app-admin-header>

<div class="container mx-auto my-2">
    
    <div class="table-responsive">
        <table class="table table-hover table-borderless border-1" style="width: max-content; min-width: 100%;">
            <thead class="border-1">
                <tr>
                    <th>Mobile Nuber</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody *ngIf="dataSource.length > 0">
                <tr *ngFor="let item of dataSource">
                    <td> {{item.mobile_no}} </td>
                    <td> {{item.type}} </td>
                    <td> {{item.description}} </td>
                    <td> {{item.date}} </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="dataSource.length == 0" class="text-xl px-2 text-center mb-4">
            No Data
        </div>
    </div>

    <div class="flex float-right">
        <button mat-raised-button color="primary" class="ms-2" [disabled]="pageIndex <= 1" (click)="paginationChange('prev')">PREV</button>
        <div class="p-2"> {{pageIndex}} </div>
        <button mat-raised-button color="primary" class="ms-2" [disabled]="dataSource.length <= 0" (click)="paginationChange('next')">NEXT</button>
    </div>
</div>