<app-admin-header title="Users"></app-admin-header>

<div class="container mx-auto my-2">
    
    <div class="table-responsive">
        <table class="table table-hover table-borderless border-1" style="width: max-content; min-width: 100%;">
            <thead class="border-1">
                <tr>
                    <th>Mobile Nuber</th>
                    <th>Referal  Code</th>
                    <th>Verified</th>
                    <th>Wallet Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngIf="dataSource.length > 0">
                <tr *ngFor="let item of customPagination(dataSource,pageSize,pageIndex)">
                    <td> {{item.mobile_no}} </td>
                    <td> {{item.referal_code}} </td>
                    <td> {{item.verified === 1 ? 'Yes' : item.verified === 2 ? 'Blocked':'No'}} </td>
                    <td> Rs. {{item.wallet_amount}} </td>
                    <td>
                        <button (click)="editDialog(item)" mat-icon-button color="primary"> <mat-icon>edit</mat-icon> </button>
                        <button (click)="blockDialog(item.id)" mat-icon-button> 
                            <mat-icon *ngIf="item.verified === 2" color="warn">block</mat-icon> 
                            <mat-icon *ngIf="item.verified === 1">block</mat-icon> 
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <mat-paginator [length]="dataSource.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[6,20,50]"
    (page)="paginationChange($event)">
    </mat-paginator>
</div>